:root {
    --dark-background: #181818;
    --white: #ffffff;
    --secondary: #02E4C0
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark-background);
    font-family: 'Montserrat', sans-serif;    
}

/* Header Configuration */

.c-phishing {    
    width: 1097px;
    height: 119px;
    margin: 37px auto;
}

.c-phishing__nav--logo {
    margin-right: 127px;
}

.c-phishing__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    height: 100%;    
    width: 100%;    
}

.c-phishing__nav--items {
    margin: 0 51px 25px 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--white);
}

.c-phishing__nav--icon {
    margin: 0 30px 25px 0;
}

.c-phishing-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.c-phishing-title-container__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;   
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white);
    width: 80%;    
}

.secondary {    
    color: var(--secondary);
    margin-top: -80px;    
}

.c-phishing-title-container__img {
    width: 100%;
    height: 143px;
    border-radius: 10px;
    text-align: center;
}

.c-phishing-title-container__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;   
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;  
    color: var(--secondary);
}

.c-phishing-title-container__sub-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;    
    text-align: center;
    letter-spacing: 0.2px;   
    color: var(--white);
    margin-bottom: 162px;
    width: 947px;
    height: 120px;
}

.c-phishing-perigos {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: var(--white);
}

.c-phishing-dicas-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin: 83px 0 72px 0;
}

.c-phishing-dicas-container__number {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 115px;
        line-height: 144px;   
        letter-spacing: 1.15px;
        color: var(--white);
        border: 2px solid var(--secondary);
        border-radius: 11px;
        padding: 5px 35px;
}

.c-phishing-dicas-container__text {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;    
        letter-spacing: 1.15px;
        color: var(--white);
        width: 474px;
        height: 88px;
}

.c-phishing-dicas-container__tips {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    gap: 100px;
    margin: 68px 198px 0 198px;
}

.c-phishing-dicas-container__tips--text-container {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;   
        text-align: center;
        letter-spacing: 0.2px;
        color: var(--white);        
}

.c-phishing-dicas-container__tips--text-container > p {
    border: 2px solid var(--secondary);
    border-radius: 11px;
    padding: 15px 200px;
}

.c-phishing-dicas-container__phishing-introduction {
    margin-top: 32px;
    width: 447px;
    height: 649px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: var(--white);
}

.c-phishing-identificar-ataque-titulo {
    width: 1093px;
    height: 124px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: var(--white);
}

.c-phishing-identificando-ataque-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 23px;
    width: 1336px;   
    margin: 50px 120px;
}

.c-phishing-identificando-ataque-container__content {
    display: flex;
    flex-direction: column;   
}

.c-phishing-identificando-ataque-sub-container {
    padding: 40px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 330px;    
}

.c-phishing-identificando-ataque-container__content--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--secondary);
}

.c-phishing-identificando-ataque-container__content--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: var(--white); 
    margin: 16px 0;   
}

.c-phishing-conclusao {
    width: 1257px;
    height: 384px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 50px 160px;
    gap: 60px;
}

.c-phishing-conclusao-img > p {
    width: 400px;
    height: 384px;
}

.c-phishing-conclusao-text-container {
    width: 726px;
    height: 230px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--white);
}

.c-phishing-conclusao-text-container__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--white);
    margin-bottom: 20px;
}

.c-phishing-conclusao-text-container__text {
    width: 706px;
    height: 210px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;   
    letter-spacing: 0.2px;   
    color: var(--white);
}

.c-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 20px 0;
    gap: 21px;
    width: 100%;
    height: 254px;
}

.c-footer__logo--logo > img {
    width: 140px;
    height: 61px;
}

.c-footer__redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.c-footer__logo--icon > img {
    width: 18px;
    height: 18px;
}

.c-phishing-video {
    width: 1065px;
    height: 511px;
    border: 2px solid var(--secondary);
    border-radius: 11px;
    padding: 2px;
}

.text-green {
    color: var(--secondary);
}
